@charset "UTF-8"
@font-face {
    font-family: 'fryday';
    src: url(font/TheLineUp-EE2z.ttf);
}
@font-face {
    font-family: 'face';
    src: url(font/RaceSport.ttf);
}

:root {
    --cor0:#7a3f11;
    --cor1:#fbab6e;
    --cor2:#fa8023;
    --cor3:#7a6c61;
    --cor4:#c7671c;
}

body {
    background-image: url(imagem/rink.jpg);
    background-repeat: no-repeat;
    background-size: 100vh;
    background-size: cover;
}

main {
    background-color: rgba(233, 227, 227, 0.911);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 5px 10px rgb(136, 109, 93);
    max-width: 900px;
    padding: 10px;
    margin: auto;
}

header {
    background-image:linear-gradient(to bottom, var(--cor2), var(--cor4));
    text-align: center;
    text-shadow: 4px black;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(136, 109, 93);
    padding: 20px;
}

header > h1 {
    font-family: "face";
    margin-bottom: 5px;
    padding-bottom: 10px;
    font-weight: normal;
}

nav > a{
    text-align: left;
    color: rgb(210, 204, 240);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor2);
    color: blanchedalmond;
}

main > h2 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--cor0);
    text-align: left;
    text-shadow: 10px 10px 08 px rgba(37, 36, 36, 0.945);
}
header img{
    width: 10%;
}

main > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    text-indent: 15px;
    text-transform: capitalize;
}

footer {
    color: var(--cor0);
    text-align: center;
    text-decoration: underline;
}